/* 368156 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color:#011638;
    color:#DFF8EB;
    

}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.stats-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid purple;
    width: 500px;
    height: 150px;
}

#progress-bar{
    background-color:#DFF8EB;
    width:300px;
    height: 4px;
    margin-top: 30px;
    border-radius: 2px;
}


#progress-count{
    background-color:purple;
    width: 50%;
    height: 4px;
    transition: 0.5s ease-in;
}

.stats-counter{
    width: 70px;
    height: 70px;
    border: 2px solid black ;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-weight: 700;
    background-color: whitesmoke;
    color:blue;
}
.in{
    margin-top: 20px;
    margin-right: 5px;
    height: 30px;
    font-weight: 700;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow:5px 5px purple;

}
.sub{
    margin-top: 10px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    font-weight: 800;
    border: none;
    border-radius: 50%;
}

li{
    list-style: none;
}
.taskItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: darkorchid;
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    margin-right: 70px;
}
.task{
    display: flex;
}
.task p{
    margin-left: 10px;
    color: white;
}

.first{
    margin-right:4px;
}
.task .completed{
    text-decoration: line-through;
    color:rgb(250, 81, 137);
}

.end{
    display: inline;
}
.end p{
    color:#DFF8EB;
    position:fixed;
    bottom: 0;
    left:20px;
}
.end p i{
    color: red;
}
